{% extends 'layouts/base-admin.html' %}

{% block title %} Profile {% endblock title %}

{% block content %}

<div class="header pb-6 d-flex align-items-center"
     style="min-height: 100px; background-image: url(/static/assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
    <!-- Mask -->
    <span class="mask bg-gradient-default opacity-8"></span>

</div>
<!-- Page content -->
<div class="container-fluid mt--6" >
    <div class="row">
        <div class="col-xl-12 order-xl-1">
            <div class="card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-0">{{ title }}</h3>
                        </div>
                        <div class="col-4 text-right">
                            <a href="#!" class="btn btn-sm btn-primary">Đổi Mật Khẩu</a>
                        </div>
                    </div>
                </div>
                    <form method="post" onsubmit="return submitFormData()" enctype="multipart/form-data">
                        <h6 class="heading-small text-muted mb-4 pl-3">Thông Tin Chung</h6>
                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-username">Username</label>
                                        <input type="text" id="input-username" class="form-control"
                                               placeholder="Username" value="{{staff.username}}"
                                               {% if staff.id %}disabled{% endif %}
                                        >
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-email">Email </label>
                                        <input type="email" id="input-email" class="form-control" placeholder=""
                                               value="{{staff.email}}"
                                               {% if staff.email %}disabled{% endif %}
                                        >
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-fullname">Họ Tên</label>
                                        <input type="text" id="input-fullname" class="form-control"
                                               placeholder="Họ Tên" value="{{none_to_empty_string(staff.fullname)}}">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-phonenumber">Email</label>
                                        <input type="text" id="input-phonenumber" class="form-control"
                                               placeholder="Số Điện Thoại"
                                               value="{{none_to_empty_string(staff.phone_number)}}">
                                    </div>
                                </div>
                            </div>
                            {% if not staff %}
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-password">Password</label>
                                        <input type="password" id="input-password" class="form-control"
                                               placeholder="password">
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <img {% if staff %}src="{{staff.avatar_url}}" {% endif %} id="imgAvatarId"
                                             width="300px"
                                             height="200px" style="object-fit: contain;"/>
                                        <input type="file" class="btn btn-sm btn-primary" name="ipAvatar" id="ipAvatarId"
                                               onchange="showBannerImg(this)" {% if not staff
                                               %} required
                                               {% endif %}>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-address">Address</label>
                                        <input id="input-address" class="form-control" placeholder="Home Address"
                                               value="{{none_to_empty_string(staff.address)}}" type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                         <div class="d-flex justify-content-center">
                    <a  class="btn btn-sm " href="{{url_for('staff_management.staff_management')}}" >Hủy Bỏ</a>
                    <button  class="btn btn-sm btn-primary" type="submit">Save</button>
                </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

<script type="text/javascript">
const imgAvatar = document.getElementById('imgAvatarId')
{% if not staff %} imgAvatar.style.display = 'none'; {% endif %}
function showBannerImg(input){
        imgAvatar.style.display = 'inline-block'
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#imgAvatarId').attr('src', e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
    function submitFormData(){
        swal({
          title: "Are you sure?",
          text: "Kiểm Tra Thông Tin Trước khi gửi",
          icon: "warning",
          buttons: true,
          dangerMode: true,
        })
        .then((willDelete) => {
          if (willDelete) {
            var formData = new FormData();
            const username = document.getElementById("input-username").value;
            const email = document.getElementById("input-email").value;
            const fullname = document.getElementById("input-fullname").value;
            const phonenumber = document.getElementById("input-phonenumber").value;
            {% if not staff %}
            const password = document.getElementById("input-password").value;
            formData.append("password", password);
            {% endif %}
            const file = document.getElementById("ipAvatarId").files[0];
            const address = document.getElementById("input-address").value;

            formData.append("username", username);
            formData.append("email", email);
            formData.append("fullname", fullname);
            formData.append("address", address);
            formData.append("phone_number", phonenumber);

            if(file){
                formData.append("file", file);
            }
            $.ajax({
                type: "POST",
                url: "{{url_for('staff_management.staff_detail', id_staff = id_staff)}}",
                data: formData,
                contentType: false,
                processData: false,
                success: function (data) {
                    let objData = JSON.parse(data);
                    let idStaff = parseInt(objData.id_staff);
                    console.log(idStaff,objData)
                    if(idStaff){
                    console.log(idStaff,objData)
                        window.location="/admin/staff_management/"+idStaff;
                    }
                    else{
                        swal(objData.message, {
                          icon: "warning",
                        });
                    }
                },
                error: function (e) {
                    swal(e.responseText);
                }
            });
            return false;
          } else {
            return false;
          }
        });
        return false;
    }
</script>
</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
