{% extends 'layouts/base-admin.html' %}

{% block title %} Profile {% endblock title %}

{% block content %}

<div class="header pb-6 d-flex align-items-center"
     style="min-height: 100px; background-image: url(/static/assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
    <!-- Mask -->
    <span class="mask bg-gradient-default opacity-8"></span>

</div>
<!-- Page content -->
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col-xl-12 order-xl-1">
            <div class="card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-0">{{ title }}</h3>
                        </div>

                    </div>
                </div>
                    <form method="post" onsubmit="return submitFormData()" enctype="multipart/form-data">
                        <h6 class="heading-small text-muted mb-4 pl-3">Thông Tin Chung</h6>
                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-lg-6 col-sm-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-name">Name</label>
                                        <input type="text" id="input-name" class="form-control"
                                               placeholder="Username" value="{{stock.name}}"
                                        >
                                    </div>
                                </div>

                                <div class="col-lg-6 col-sm-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-place">Thành Phố</label>
                                        <select class="form-control" id="input-place">
                                        {% for place in places %}
                                        <option
                                                value="{{place.id}}"
                                                {% if stock.place_id == place.id%} selected="selected" {% endif
                                                %}>
                                            {{place.name}}
                                        </option>
                                        {% endfor %}
                                    </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                         <div class="d-flex justify-content-center">
                    <a  class="btn btn-sm " href="{{url_for('stock_management.stock_management')}}" >Hủy Bỏ</a>
                    <button  class="btn btn-sm btn-primary" type="submit">Save</button>
                </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

<script type="text/javascript">
    function submitFormData(){
        swal({
          title: "Are you sure?",
          text: "Kiểm Tra Thông Tin Trước khi gửi",
          icon: "warning",
          buttons: true,
          dangerMode: true,
        })
        .then((willDelete) => {
          if (willDelete) {
            var formData = new FormData();
            const name = document.getElementById("input-name").value;
            const type = document.getElementById("input-place").value;
            formData.append("name", name);
            formData.append("place_id", type);
            $.ajax({
                type: "POST",
                url: "{{url_for('stock_management.stock_detail', id_stock = id_stock)}}",
                data: formData,
                contentType: false,
                processData: false,
                success: function (data) {
                    let objData = JSON.parse(data);
                    let idstock= parseInt(objData.id_stock);
                    if(idstock){
                        window.location="/admin/stock_management/"+idstock;
                    }
                    else{
                        swal(objData.message, {
                          icon: "warning",
                        });
                    }
                },
                error: function (e) {
                    swal(e.responseText);
                }
            });
            return false;
          } else {
            return false;
          }
        });
        return false;
    }
</script>
</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
