{% extends 'layout/base-client.html' %}
{% block body %}

    <!-- ****** Checkout Area Start ****** -->
    <div class="checkout_area section_padding_100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="cart-table clearfix">
                        <table class="table table-responsive">
                            <thead>
                            <tr>
                                <th>Tên Sản Phẩm</th>
                                <th>Kho</th>
                                <th>Thành Phố</th>
                                <th>Giá</th>
                                <th>Số Lượng</th>
                                <th>Tổng Tiền</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for cart_item in carts %}
                                <tr class="order_item">
                                    <input type="hidden" class="pid" value="{{ cart_item.id }}">
                                    <input type="hidden" class="stock_id" value="{{ cart_item.stock_id }}">
                                    <input type="hidden" class="product_id" value="{{ cart_item.product_id }}">
                                    <input type="hidden" class="price_product" value="{{ cart_item.product_price }}">
                                    <input type="hidden" class="place_id" value="{{ cart_item.place_id }}">
                                    <td style="width: 100%!important;"
                                        class="cart_product_img d-flex align-items-center">
                                        <button onclick="deleteCart(this)" id="{{ cart_item.id }}" type="button"
                                                class="p-3 close" aria-label="Close ">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <img style="max-height: 130px;max-width: 130px;object-fit: contain;"
                                             src="{{ cart_item.image_url[0] }}" alt="Product">
                                        <a href="{{ url_for('product.product_detail', id_product= cart_item.product_id) }}">
                                            <h6>{{ cart_item.product_name }}</h6></a>
                                    </td>
                                    <td class="stock_name"><span
                                            class="badge badge-primary">{{ cart_item.stock_name }} </span></td>
                                    <td class="place_name"><span
                                            class="badge badge-primary">{{ cart_item.place_name }} </span></td>
                                    <td class="price"><span>{{ cart_item.product_price |priceFormat }} VNĐ</span></td>
                                    <td class="qty">
                                        <div class="quantity">

                                            <input type="number" class="qty-text" id="qty-{{ cart_item.id }}" step="1"
                                                   min="1" max="99" name="quantity" value="{{ cart_item.quantity }}"
                                                   disabled>

                                        </div>
                                    </td>
                                    <td>
                                        <span class="total_price">{{ (cart_item.product_price | int * cart_item.quantity | int) | priceFormat }} VNĐ</span>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

            <div class="row">

                <div class="col-12 col-md-6">
                    <div class="checkout_details_area mt-50 clearfix">

                        <div class="cart-page-heading">
                            <h5>Thông tin Đơn Hàng</h5>
                            <p>Điền Các Thông Tin Bên Dưới</p>
                        </div>

                        <form id="myform" method="post"
                              onsubmit="return submitFormEditData()">
                            <div class="row">
                                <div class="col-md-12 mb-3">
                                    <label for="first_name">Họ Tên <span>*</span></label>
                                    <input type="text" class="form-control" id="full_name"
                                           value="{{ current_user.fullname }}" required>
                                </div>
                                <div class="col-12 mb-3">
                                    <label for="company">Email <span>*</span></label>
                                    <input type="text" class="form-control" id="email" required
                                           value="{{ current_user.email }}">
                                </div>
                                <div class="col-12 mb-3">
                                    <label for="company">Số Điện Thoại <span>*</span></label>
                                    <input type="text" class="form-control" required id="phone_number"
                                           value="{{ current_user.phone_number }}">
                                </div>
                                <div class="col-12 mb-3">
                                    <label for="country">Thành Phố (Nội Tỉnh : Free, Ngoại Tỉnh
                                        : {{ g.shipping_fee| priceFormat }} VNĐ) <span>*</span></label>
                                    <select class="custom-select d-block w-100" id="country" required
                                            onchange="loadTotalPrice()">
                                        {% for place in g.list_place %}
                                            <option
                                                    {% if current_user.place_id == place.id %}
                                                        selected
                                                    {% endif %}
                                                        value="{{ place.id }}">
                                                {{ place.name }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-12 mb-3">
                                    <label for="street_address">Địa Chỉ <span>*</span></label>
                                    <input type="text" required class="form-control mb-3" id="address"
                                           value="{{ current_user.address }}">
                                </div>
                                <div class="col-12 mb-3">
                                    <label for="company">Thông Tin Bổ Sung</label>
                                    <input type="text" class="form-control" id="content" value="">
                                </div>
                                <div class="col-12 mb-3">
                                    <label for="voucher-select">Voucher</label>
                                    <select class="custom-select d-block w-100" id="voucher-select"
                                            onchange="loadTotalPrice()">
                                        <option data-value='{"value": 0}' selected> Vui Lòng Chọn Voucher</option>
                                        {% for voucher in g.voucher_users %}
                                            <option
                                                    data-value='{"id":{{ voucher.id }},"value":"{{ voucher.discount | int }}"}'>
                                                {{ voucher.name }} - Discount : {{ voucher.discount }} %
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-5 ml-lg-auto">
                    <div class="order-details-confirmation">

                        <div class="cart-page-heading">
                            <h5>Thông Tin Giá </h5>
                        </div>

                        <ul class="order-details-form mb-4">
                            <li><span>Giá Sản Phẩm</span> <span id="subTotal">0</span></li>
                            <li><span>Tiền Ship</span> <span id="shippingFee">0</span></li>
                            <li><span>Discount</span> <span id="discountFee">0</span></li>
                            <li><span>Total</span> <span id="totalPrice"><strong>0</strong></span></li>
                        </ul>


                        <div id="accordion" role="tablist" class="mb-4">
                            <div class="card">
                                <div class="card-header" role="tab" id="headingOne">
                                    <h6 class="mb-0">
                                        <a data-toggle="collapse" href="#collapseOne" aria-expanded="false"
                                           aria-controls="collapseOne"><i class="fa fa-circle-o mr-3"></i>Ship COD</a>
                                    </h6>
                                </div>

                                <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne"
                                     data-parent="#accordion">
                                    <div class="card-body">
                                        <p>Chuyển Tiền Khi Nhận Hàng</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button type="submit" form="myform" class="btn karl-checkout-btn">Đặt Hàng</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- ****** Checkout Area End ****** -->
    <script>
        let formatter = new Intl.NumberFormat({
            maximumFractionDigits: 3
        });
        let order_info = {
            subTotal: 0,
            discount: 0,
            shipping_fee: 0,
            total: 0
        }

        function deleteCart(obj) {
            const element = $(obj).closest('tr')
            element.remove()
            loadTotalPrice()
        }

        function per(num, amount) {
            return num * amount / 100;
        }

        function loadTotalPrice() {
            const elements = $('tbody').find('.order_item').get()
            const subTotal = $('#subTotal')
            const countryId = $('#country').val()
            const shippingFee = $('#shippingFee')
            const discountFee = $('#discountFee')
            const total = $('#totalPrice')
            const voucherPrice = $('#voucher-select').find(":selected").data("value").value
            let data = []
            let totalPrice = 0
            let subTotalPrice = 0
            let shippingTotal = 0
            let place_id_contain = []
            const shippingPrice = Number({{ g.shipping_fee | safe }})
            elements.map(element => {
                let price = parseInt($(element).find('.price_product').val())
                let quantity = parseInt($(element).find('.qty-text').val())
                let place_id = parseInt($(element).find('.place_id').val())
                if (countryId && place_id !== Number(countryId) && !place_id_contain.find(ele => ele == place_id)) {
                    shippingTotal += shippingPrice
                    place_id_contain.push(place_id)
                }
                data.push({price, quantity})
            })
            data.map(ele => {
                subTotalPrice += ele.price * ele.quantity
                totalPrice += ele.price * ele.quantity
            })
            if (Number(voucherPrice) !== 0) totalPrice = totalPrice - per(totalPrice, Number(voucherPrice))
            if (shippingTotal > 0) totalPrice += shippingTotal

            order_info = {
                subTotal: subTotalPrice,
                discount: Number(voucherPrice),
                shipping_fee: shippingTotal,
                total: totalPrice
            }

            subTotal.html(`<span id="subTotal">${formatter.format(subTotalPrice)} VND</span> `)
            shippingFee.html(`<span id="shippingFee">${formatter.format(shippingTotal)} VND</span> `)
            discountFee.html(`<span id="discountFee">${voucherPrice} %</span> `)
            total.html(`<span id="totalPrice"><strong>${formatter.format(totalPrice)} VND</strong></span>`)


        }

        function submitFormEditData() {
            swal({
                title: "Are you sure?",
                text: "Kiểm Tra Thông Tin Trước khi gửi",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        const user_name = document.getElementById("full_name").value
                        const email = document.getElementById("email").value
                        const phone_number = document.getElementById("phone_number").value
                        const address = document.getElementById("address").value
                        const content = document.getElementById("content").value
                        const voucher_id = $('#voucher-select').find(":selected").data("value").id
                        const elements = $('tbody').find('.order_item').get()
                        let cart_ids = []
                        elements.map(element => {
                            let cart_id = parseInt($(element).find('.pid').val())
                            cart_ids.push(cart_id)
                        })
                        if (cart_ids.length === 0) {
                            swal('Không Có Sản Phẩm để Đặt Hàng', {icon: "warning",});
                        }
                        let buildObject = {
                            user_name,
                            email,
                            phone_number,
                            address,
                            content,
                            voucher_id: voucher_id ? voucher_id : null,
                            discount: order_info.discount,
                            shipping_fee: order_info.shipping_fee,
                            subtotal: order_info.subTotal,
                            total: order_info.total,
                            cart_ids: JSON.stringify(cart_ids)
                        }
                        $.ajax({
                            type: "POST",
                            url: "/place_order",
                            data: {data: JSON.stringify(buildObject)},
                            success: function (data) {
                                swal(JSON.stringify(data), {
                                    icon: "success",
                                }).then(() => {
                                    window.location.href = "/order";

                                })


                            },
                            error: function (e) {
                                document.innerHTML = e.responseText
                            }
                        });
                        return false;
                    } else {
                        return false;
                    }
                });
            return false;
        }

        window.onload = function () {
            loadTotalPrice()
        };


    </script>

{% endblock %}