{% extends 'layout/base-client.html' %}

{% block body %}

    {% if vouchers %}
    <!-- ****** Top Discount Area Start ****** -->
<section class="top-discount-area d-md-flex align-items-center">
    {% for voucher in vouchers %}
    <!-- Single Discount Area -->
    <div class="single-discount-area">
        <h5>{{ voucher.name }} - {{ voucher.code }}</h5>
        <h6>Giảm: {{ voucher.discount }} %</h6>
    </div>
    {% endfor %}
</section>
    {% endif %}
<!-- ****** Welcome Slides Area Start ****** -->
<section class="welcome_area">
    <div class="welcome_slides owl-carousel">
        <!-- Single Slide Start -->
        {% for brand in g.brands %}
        <div class="single_slide height-800 bg-img background-overlay"
             style="background-image: url({{ brand.image_url }});">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <div class="welcome_slide_text">
                            <h6 data-animation="bounceInDown" data-delay="0" data-duration="500ms">{{ brand.description }}</h6>
                            <h2 data-animation="fadeInUp" data-delay="500ms" data-duration="500ms">{{ brand.name }}</h2>
                            <a href="{{ url_for('product.product', id_brand=brand.id) }}" class="btn karl-btn" data-animation="fadeInUp" data-delay="1s"
                               data-duration="500ms">Đến Cửa Hàng</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
<!-- ****** Welcome Slides Area End ****** -->

{#<!-- ****** Top Catagory Area Start ****** -->#}
{#<section class="top_catagory_area d-md-flex clearfix">#}
{#    <!-- Single Catagory -->#}
{#    <div class="single_catagory_area d-flex align-items-center bg-img"#}
{#         style="background-image: url(static/client/assets/img/bg-img/bg-2.jpg);">#}
{#        <div class="catagory-content">#}
{#            <h2>Đồng Hồ Mới</h2>#}
{#            <a href="#" class="btn karl-btn">Đến Cửa Hàng</a>#}
{#        </div>#}
{#    </div>#}
{#    <!-- Single Catagory -->#}
{#    <div class="single_catagory_area d-flex align-items-center bg-img"#}
{#         style="background-image: url(static/client/assets/img/bg-img/bg-3.jpg);">#}
{#        <div class="catagory-content">#}
{#            <h6>Đồng Hồ</h6>#}
{#            <h2>SALE ĐẬM</h2>#}
{#            <a href="#" class="btn karl-btn">Đến Cửa Hàng</a>#}
{#        </div>#}
{#    </div>#}
{#</section>#}
{#<!-- ****** Top Catagory Area End ****** -->#}

<!-- ****** New Arrivals Area Start ****** -->
<section class="new_arrivals_area section_padding_100_0 clearfix">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_heading text-center">
                    <h2>Điểm Đến Với Tất Cả</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="karl-projects-menu mb-100">
        <div class="text-center portfolio-menu">
            <button class="btn active" data-filter="*">Tất Cả</button>
            {% for category in g.categories %}
                <button class="btn" data-filter=".category-{{ category.id }}">{{ category.name }}</button>
            {% endfor %}
{#            <button class="btn active" data-filter="*">ALL</button>#}
{#            <button class="btn" data-filter=".women">WOMAN</button>#}
{#            <button class="btn" data-filter=".man">MAN</button>#}
{#            <button class="btn" data-filter=".access">ACCESSORIES</button>#}
{#            <button class="btn" data-filter=".shoes">shoes</button>#}
{#            <button class="btn" data-filter=".kids">KIDS</button>#}
        </div>
    </div>

    <div class="container">
        <div class="row karl-new-arrivals">
            {% for newest_product in newest_products %}
            <!-- Single gallery Item Start -->
            <div class="col-12 col-sm-6 col-md-4 single_gallery_item category-{{ newest_product.category_id }} wow fadeInUpBig" data-wow-delay="0.2s">
                <!-- Product Image -->
                <div class="product-img">
                    <img src="{{ newest_product.image_url[0] }}" alt="">
                    <div class="product-quicview">
                        <a href="{{ url_for('product.product_detail', id_product = newest_product.id) }}" ><i class="fa fa-eye"></i></a>
                    </div>
                </div>
                <!-- Product Description -->
                <div class="product-description">
                    <h4 class="product-price">{{ newest_product.price | priceFormat }} VND</h4>
                    <p>{{ newest_product.name }}</p>
                    <!-- Add to Cart -->
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- ****** New Arrivals Area End ****** -->

<!-- ****** Offer Area Start ****** -->
<section class="offer_area height-700 section_padding_100 bg-img"
         style="background-image: url({{ newest_product.image_url[0] }});">
    <div class="container h-100">
        <div class="row h-100 align-items-end justify-content-end">
            <div class="col-12 col-md-8 col-lg-6">
                <div class="offer-content-area wow fadeInUp" data-wow-delay="1s">
                    <h2>{{ newest_product.name }} <span class="karl-level">{{ newest_product.down_price }}%</span></h2>
                    <p>Sản Phẩm Mới Nhất</p>
                    <div class="offer-product-price">
                        <h3><span class="regular-price">{{ newest_product.old_price | priceFormat}} VNĐ</span>{{ newest_product.price | priceFormat}} VNĐ</h3>
                    </div>
                    <a href="{{ url_for('product.product_detail', id_product = newest_product.id) }}" class="btn karl-btn mt-30">Xem Ngay</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ****** Offer Area End ****** -->

<!-- ****** Popular Brands Area Start ****** -->
<section class="karl-testimonials-area section_padding_100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_heading text-center">
                    <h2>Bình Luận</h2>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12 col-md-8">
                <div class="karl-testimonials-slides owl-carousel">

                    <!-- Single Testimonial Area -->
                    <div class="single-testimonial-area text-center">
                        <span class="quote">"</span>
                        <h6>Nunc pulvinar molestie sem id blandit. Nunc venenatis interdum mollis. Aliquam finibus nulla
                            quam, a iaculis justo finibus non. Suspendisse in fermentum nunc.Nunc pulvinar molestie sem
                            id blandit. Nunc venenatis interdum mollis. </h6>
                        <div class="testimonial-info d-flex align-items-center justify-content-center">
                            <div class="tes-thumbnail">
                                <img src="static/client/assets/img/bg-img/tes-1.jpg" alt="">
                            </div>
                            <div class="testi-data">
                                <p>Michelle Williams</p>
                                <span>Client, Los Angeles</span>
                            </div>
                        </div>
                    </div>

                    <!-- Single Testimonial Area -->
                    <div class="single-testimonial-area text-center">
                        <span class="quote">"</span>
                        <h6>Nunc pulvinar molestie sem id blandit. Nunc venenatis interdum mollis. Aliquam finibus nulla
                            quam, a iaculis justo finibus non. Suspendisse in fermentum nunc.Nunc pulvinar molestie sem
                            id blandit. Nunc venenatis interdum mollis. </h6>
                        <div class="testimonial-info d-flex align-items-center justify-content-center">
                            <div class="tes-thumbnail">
                                <img src="static/client/assets/img/bg-img/tes-1.jpg" alt="">
                            </div>
                            <div class="testi-data">
                                <p>Michelle Williams</p>
                                <span>Client, Los Angeles</span>
                            </div>
                        </div>
                    </div>

                    <!-- Single Testimonial Area -->
                    <div class="single-testimonial-area text-center">
                        <span class="quote">"</span>
                        <h6>Nunc pulvinar molestie sem id blandit. Nunc venenatis interdum mollis. Aliquam finibus nulla
                            quam, a iaculis justo finibus non. Suspendisse in fermentum nunc.Nunc pulvinar molestie sem
                            id blandit. Nunc venenatis interdum mollis. </h6>
                        <div class="testimonial-info d-flex align-items-center justify-content-center">
                            <div class="tes-thumbnail">
                                <img src="static/client/assets/img/bg-img/tes-1.jpg" alt="">
                            </div>
                            <div class="testi-data">
                                <p>Michelle Williams</p>
                                <span>Client, Los Angeles</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>
<!-- ****** Popular Brands Area End ****** -->

{% endblock body %}
