{% extends 'layout/base-client.html' %}

{% block body %}
    <style type="text/css">
        .menu-content li a:before {
            background-color: transparent;
        }

        .active-cat {
            background-color: #ff084e !important;
        }

        .disabled-tag {
            pointer-events: none !important;
            cursor: default !important;
        }

        .percent-price {
            width: 50px;
            height: 50px;
            background-color: red;
        }

        }

    </style>

    <section class="shop_grid_area section_padding_100">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="shop_sidebar_area">
                        <div class="form-group mb-2">
                            <form class="navbar-search navbar-search-light form-inline mr-sm-3 mb-3"
                                  method="get"
                                  action="{{ url_for('product.product',
                                        page=products.prev_num,
                                        id_brand=request.args.get('id_brand'),
                                        id_price=request.args.get('id_price'),
                                        id_category=request.args.get('id_category'),
                                        search=request.args.get('search')
                                          ) }}">
                                <div class="input-group input-group-alternative input-group-merge">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-search"></i></span>
                                    </div>
                                    <input class="form-control"
                                           value="{{ none_to_empty_string(request.args.get('search')) }}"
                                           placeholder="Tìm Kiếm..." name="search" type="text">
                                </div>
                            </form>
                        </div>
                        <div class="widget catagory mb-50">
                            <!--  Side Nav  -->
                            <div class="nav-side-menu">
                                <h6 class="mb-0">Thế Loại</h6>
                                <div class="menu-list">
                                    <ul class="menu-content">
                                        <li>
                                            <a href="{{ url_for('product.product',
                                        page=products.prev_num,
                                        id_brand=request.args.get('id_brand'),
                                        id_price=request.args.get('id_price'),
                                        id_category=None,
                                        search=request.args.get('search')) }}"
                                                    {% if not request.args.get('id_category') %}
                                               class="active-cat"
                                                    {% endif %}
                                            >Tất Cả</a>
                                        </li>
                                        <!-- Single Item -->
                                        {% set id_cat = request.args.get('id_category') %}
                                        {% for category in categories %}
                                            <li>
                                                <a href="{{ url_for('product.product',
                                        page=products.prev_num,
                                        id_brand=request.args.get('id_brand'),
                                        id_price=request.args.get('id_price'),
                                        id_category=category.id,
                                        search=request.args.get('search')) }}"

                                                        {% if category.id |string() == id_cat|string() %}
                                                   class="active-cat disabled-tag"
                                                        {% endif %}
                                                >{{ category.name }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="widget catagory mb-50">
                            <!--  Side Nav  -->
                            <div class="nav-side-menu">
                                <h6 class="mb-0">Thương Hiệu</h6>
                                <div class="menu-list">
                                    <ul class="menu-content">
                                        <li>
                                            <a href="{{ url_for('product.product',
                                        page=products.prev_num,
                                        id_price=request.args.get('id_price'),
                                        id_category=request.args.get('id_category'),
                                        id_brand=None,
                                        search=request.args.get('search')) }}"
                                                    {% if not request.args.get('id_brand') %}
                                               class="active-cat"
                                                    {% endif %}
                                            >Tất Cả</a>
                                        </li>
                                        <!-- Single Item -->
                                        {% set id_cat = request.args.get('id_brand') %}
                                        {% for brand in g.brands %}
                                            <li>
                                                <a href="{{ url_for('product.product',
                                        page=products.prev_num,
                                        id_price=request.args.get('id_price'),
                                        id_category=request.args.get('id_category'),
                                        id_brand=brand.id,
                                        search=request.args.get('search')) }}"

                                                        {% if brand.id |string() == id_cat|string() %}
                                                   class="active-cat disabled-tag"
                                                        {% endif %}
                                                >{{ brand.name }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="widget price mb-50">
                            <h6 class="widget-title mb-30">Sắp xếp Theo Giá</h6>
                            <div class="menu-list">
                                <ul class="menu-content">
                                    <li><a href="{{ url_for('product.product',
                                        page=products.prev_num,
                                        id_price=None,
                                         id_brand=request.args.get('id_brand'),
                                        id_category=request.args.get('id_category'),
                                        search=request.args.get('search')) }}"
                                            {% if not request.args.get('id_price') %}
                                           class="active-cat"
                                            {% endif %}
                                    >Tất Cả</a>
                                    </li>
                                    <!-- Single Item -->
                                    {% for price in prices %}
                                        <li>
                                            <a href="{{ url_for('product.product',
                                        page=products.prev_num,
                                        id_price=price.id,
                                        id_brand=request.args.get('id_brand'),
                                        id_category=request.args.get('id_category'),
                                        search=request.args.get('search')) }}"
                                                    {% if price.id|string() == request.args.get('id_price')|string() %}
                                               class="active-cat disabled-tag"
                                                    {% endif %}
                                            >{{ price.name }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <!--                        <div class="widget-desc">-->
                            <!--                            <div class="slider-range">-->
                            <!--                                <div class="slider-range-price ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"-->
                            <!--                                     data-label-result="Price:" data-max="3000"-->
                            <!--                                     data-min="0"-->
                            <!--                                     data-unit="$" data-value-max="1350" data-value-min="0">-->
                            <!--                                    <div class="ui-slider-range ui-widget-header ui-corner-all"></div>-->
                            <!--                                    <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>-->
                            <!--                                    <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>-->
                            <!--                                </div>-->
                            <!--                                <div class="range-price">Price: 0 - 1350</div>-->
                            <!--                            </div>-->
                            <!--                        </div>-->
                        </div>
                        <div class="widget recommended">
                            <h6 class="widget-title mb-30">Sản Phâm Mới</h6>

                            <div class="widget-desc">
                                {% for newest_product in newest_products %}
                                <!-- Single Recommended Product -->
                                <div class="single-recommended-product d-flex mb-30">
                                    <div class="single-recommended-thumb mr-3">
                                        <img alt="" src="{{ newest_product.image_url[0] }}">
                                    </div>
                                    <div class="single-recommended-desc">
                                         <a href="{{ url_for('product.product_detail', id_product = newest_product.id) }}">
                                             {{ newest_product.name }}</a>
                                        <p>{{ newest_product.price | priceFormat }} VND</p>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-8 col-lg-9">
                    {% if filters %}
                        Danh Sách Phân Loại:
                        {% for filter in filters %}
                            <a href="#">
                                <span class="badge badge-danger">{{ filter.value }} &times;</span>
                            </a>
                        {% endfor %}
                    {% endif %}
                    <div class="shop_grid_product_area">
                        <div class="row">
                            {% for product in products.items %}
                                <!-- Single gallery Item -->
                                <div class="col-12 col-sm-6 col-lg-4 single_gallery_item wow fadeInUpBig"
                                     data-wow-delay="0.{{ loop.index }}s">
                                    <!-- Product Image -->
                                    <div class="product-img">
                                        <img alt="" src="{{ product.image_url[0] }}">
                                        <div class="product-quicview">
                                            <a href="{{ url_for('product.product_detail',
                                     id_category=request.args.get('id_category'),
                                     id_price=request.args.get('id_price'),
                                     id_product = product.id) }}"><i
                                                    class="fa fa-eye"></i></a>
                                        </div>

                                    </div>
                                    <!-- Product Description -->
                                    <div class="product-description">'
                                        <div>
                                            <h4 class="product-price">{{ product.price | priceFormat }} VND</h4>
                                            <span class="badge badge-pill badge-danger">{{ product.down_price }}%</span>
                                        </div>

                                        {% if product.old_price %}
                                            <p class="product-price"
                                               style="text-decoration: line-through;color: red;">
                                                {{ product.old_price | priceFormat }}
                                                VND</p>
                                        {% endif %}
                                        <h5>{{ product.name }}</h5>
                                        <!-- Add to Cart -->
                                        <form action="{{ url_for('cart.add_cart') }}" method="POST">
                                            <input type="hidden" name="product_id" value="{{ product.id }}"/>
                                            <input type="hidden" name="stock_id" value="{{ product.stock_id }}"/>
                                            <input type="hidden" name="quantity" value="1"/>
                                            <a href="#" onclick="this.parentNode.submit()" class="add-to-cart-btn">Thêm
                                                Vào Giỏ Hàng</a>
                                        </form>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    </div>

                    <div class="shop_pagination_area wow fadeInUp">
                        <nav aria-label="Page navigation">
                            <ul class="pagination pagination-sm">
                                <li class="page-item {% if products.page == 1 %}disabled{% endif %}">
                                    <a class="page-link"
                                       href="{{ url_for('product.product',
                                   id_price=request.args.get('id_price'),
                                   id_brand=request.args.get('id_brand'),
                                   id_category=request.args.get('id_category'),
                                   page=products.prev_num,
                                   search=request.args.get('search')) }}">
                                        <i class="fa fa-angle-left"></i>
                                        <span class="sr-only">Previous</span>
                                    </a></li>
                                {% for page_num in products.iter_pages(left_edge=1, right_edge=1, left_current=1,
                            right_current=2) %}
                                    {% if page_num %}
                                        {% if products.page == page_num %}
                                            <li class="page-item active"><a class="page-link"
                                                                            href="#">{{ page_num }}</a></li>
                                        {% else %}
                                            <li class="page-item">
                                                <a class="page-link"
                                                   href="{{ url_for('product.product',
                                   id_category=request.args.get('id_category'),
                                   id_brand=request.args.get('id_brand'),
                                   id_price=request.args.get('id_price'),
                                   page=page_num,
                                    search=request.args.get('search')) }}">
                                                    {{ page_num }}
                                                </a>
                                            </li>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                <li class="page-item ">
                                    <a class="page-link {% if not products.next_num %}disabled{% endif %}"
                                       href="{{ url_for('product.product',
                                       id_brand=request.args.get('id_brand'),
                                   id_category=request.args.get('id_category'),
                                   page=products.next_num,
                                   id_price=request.args.get('id_price'),
                                   search=request.args.get('search')) }}">
                                        <i class="fa fa-angle-right"></i>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock body %}
