{% extends 'layout/base-client.html' %}

{% block body %}
    <style type="text/css">
        .img-product {
            height: 500px;
            object-fit: cover;
        }

        .comment-section {
            display: block;
            border-radius: 11px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            margin-top: 5%;
            margin-bottom: 5%;
            max-width: 700px;
            margin-left: auto;
            margin-right: auto
        }

        .name {
            font-size: 20px
        }

        .comment-content {
            font-size: 14px
        }

        .comments {
            color: blue
        }
    </style>
    {#   <!-- <<<<<<<<<<<<<<<<<<<< Breadcumb Area Start <<<<<<<<<<<<<<<<<<<< -->#}
    {#        <div class="breadcumb_area p-0">#}
    {#            <div class="container">#}
    {#                <div class="row">#}
    {#                    <div class="col-12">#}
    {#                        <ol class="breadcrumb d-flex align-items-center">#}
    {#                            <li class="breadcrumb-item"><a href="#">Home</a></li>#}
    {#                            <li class="breadcrumb-item"><a href="#">Dresses</a></li>#}
    {#                            <li class="breadcrumb-item active">Long Dress</li>#}
    {#                        </ol>#}
    {#                        <!-- btn -->#}
    {#                        <a href="#" class="backToHome d-block"><i class="fa fa-angle-double-left"></i> Back to Category</a>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#        <!-- <<<<<<<<<<<<<<<<<<<< Breadcumb Area End <<<<<<<<<<<<<<<<<<<< -->#}

    <!-- <<<<<<<<<<<<<<<<<<<< Single Product Details Area Start >>>>>>>>>>>>>>>>>>>>>>>>> -->
    <section class="single_product_details_area section_padding_0_100">
        <div class="container">
            <div class="row">

                <div class="col-12 col-md-6">
                    <div class="single_product_thumb">
                        <div id="product_details_slider" class="carousel slide" data-ride="carousel">

                            <ol class="carousel-indicators">
                                {% for item in current_product.image_url %}
                                    <li class="active" data-target="#product_details_slider"
                                        data-slide-to="{{ loop.index }}" style="background-image: url({{ item }});">
                                    </li>
                                {% endfor %}
                            </ol>

                            <div class="carousel-inner">
                                {% for item in current_product.image_url %}
                                    <div class="carousel-item {% if loop.index == 1 %}} active {% endif %}">
                                        <a class="gallery_img" href={{ item }}>
                                            <img class="d-block w-100 img-product" src={{ item }} alt="First slide" />
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="single_product_desc">

                        <h4 class="title"><a href="#">{{ current_product.name }}</a></h4>


                        <h4 class="price">{{ current_product.price | priceFormat }} VND</h4>
                        {% if current_product.old_price %}
                            <span class="product-price"
                                  style="text-decoration: line-through;color: red;">
                                                {{ current_product.old_price | priceFormat }}
                                                VND</span>
                        {% endif %}
                        <h5 class="available">Thế Loại : <span
                                class="badge badge-primary">{{ current_product.category_name }}</span></h5>
                        <h5 class="available">Kho <span
                                class="badge badge-primary">{{ current_product.stock_name }}</span></h5>
                        <h5 class="available">Tại : <span
                                class="badge badge-primary">{{ current_product.place_name }}</span></h5>

                        <h5 class="available">Số Lượng <span class="text-muted">{{ current_product.quantity }}</span>
                        </h5>
                        <div class="single_product_ratings mb-15">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </div>
                        {##}
                        {#                            <div class="widget size mb-50">#}
                        {#                                <h6 class="widget-title">Size</h6>#}
                        {#                                <div class="widget-desc">#}
                        {#                                    <ul>#}
                        {#                                        <li><a href="#">32</a></li>#}
                        {#                                        <li><a href="#">34</a></li>#}
                        {#                                        <li><a href="#">36</a></li>#}
                        {#                                        <li><a href="#">38</a></li>#}
                        {#                                        <li><a href="#">40</a></li>#}
                        {#                                        <li><a href="#">42</a></li>#}
                        {#                                    </ul>#}
                        {#                                </div>#}
                        {#                            </div>#}

                        <!-- Add to Cart Form -->
                        <form class="cart clearfix mb-50 d-flex" action="{{ url_for('cart.add_cart_product') }}"
                              method="post">
                            <input type="hidden" name="product_id" value="{{ current_product.id }}"/>
                            <input type="hidden" name="stock_id" value="{{ current_product.stock_id }}"/>
                            <div class="quantity">
                                <span class="qty-minus"
                                      onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty ) &amp;&amp; qty &gt; 1 ) effect.value--;return false;"><i
                                        class="fa fa-minus" aria-hidden="true"></i></span>
                                <input type="number" class="qty-text" id="qty" step="1" min="1" max="12" name="quantity"
                                       value="1">
                                <span class="qty-plus"
                                      onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty )) effect.value++;return false;"><i
                                        class="fa fa-plus" aria-hidden="true"></i></span>
                            </div>
                            <button type="submit" name="addtocart" value="5" class="btn cart-submit d-block">Add to
                                cart
                            </button>
                        </form>

                        <div id="accordion" role="tablist">
                            <div class="card">
                                <div class="card-header" role="tab" id="headingOne">
                                    <h6 class="mb-0">
                                        <a data-toggle="collapse" href="#collapseOne" aria-expanded="true"
                                           aria-controls="collapseOne">Information</a>
                                    </h6>
                                </div>

                                <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne"
                                     data-parent="#accordion">
                                    <div class="card-body">
                                        <p>{{ current_product.description }}</p>

                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header" role="tab" id="headingThree">
                                    <h6 class="mb-0">
                                        <a class="collapsed" data-toggle="collapse" href="#collapseThree"
                                           aria-expanded="false" aria-controls="collapseThree">shipping &amp;
                                            Returns</a>
                                    </h6>
                                </div>
                                <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree"
                                     data-parent="#accordion">
                                    <div class="card-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse quo sint
                                            repudiandae suscipit ab soluta delectus voluptate, vero vitae, tempore
                                            maxime rerum iste dolorem mollitia perferendis distinctio. Quibusdam
                                            laboriosam rerum distinctio. Repudiandae fugit odit, sequi id!</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae qui maxime
                                            consequatur laudantium temporibus ad et. A optio inventore deleniti
                                            ipsa.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </section>
    <!-- <<<<<<<<<<<<<<<<<<<< Single Product Details Area End >>>>>>>>>>>>>>>>>>>>>>>>> -->

    <section class="you_may_like_area clearfix">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section_heading text-center">
                        <h2>Sản Phẩm Tương Tự</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="you_make_like_slider owl-carousel">
                        {% for relate_product in relate_products %}
                            <!-- Single gallery Item -->
                            <div class="single_gallery_item">
                                <!-- Product Image -->
                                <div class="product-img">
                                    <img src="{{ relate_product.image_url[0] }}" alt="">
                                    <div class="product-quicview">
                                        <a href=" {{ url_for('product.product_detail', id_product = relate_product.id) }}"><i
                                                class="fa fa-eye"></i></a>
                                    </div>
                                </div>
                                <!-- Product Description -->
                                <div class="product-description">
                                    <h4 class="product-price">{{ relate_product.price | priceFormat }}</h4>
                                    <p>{{ relate_product.name }}</p>
                                    <!-- Add to Cart -->
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-5 col-md-6 col-12 pb-4">
                    <h1>Bình Luận</h1>
                    <div class="d-flex justify-content-center ">
                        <div class="col-md-12">
                            {% for comment in product_comments %}
                                <div class="bg-white comment-section">
                                    <div class="d-flex flex-row user p-2">
                                        <img class="rounded-circle" src="{{ comment.avatar_url }}" width="50">
                                        <div class="d-flex flex-column ml-2"><span
                                                class="name font-weight-bold">{{ comment.fullname }}</span>
                                            <span>{{ comment.Commentproduct.created_at.strftime('%d/%m/%Y') }}</span>
                                        </div>
                                    </div>
                                    <div class="mt-2 p-2">
                                        <p class="comment-content">
                                            {{ comment.Commentproduct.content }}
                                        </p>
                                    </div>
                                    {% if comment.Commentproduct.user_id == session['user_id'] %}
                                        <button
                                                onclick="openModalEdit({{ comment.Commentproduct.id }},{{ comment.Commentproduct.content }})"
                                                data-target="#modal-form"
                                                data-toggle="modal" class="btn btn-primary"><i class="fa fa-share"></i>
                                            Chỉnh Sửa
                                        </button>
                                        <button id="{{ comment.Commentproduct.id }}" onclick="deleteComment(this)"
                                                class="btn btn-danger"><i class="fa fa-share"></i> Xóa
                                        </button>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                </div>
                {% if session['user_id'] %}
                    <div class="col-lg-4 col-md-5 col-sm-4 offset-md-1 offset-sm-1 col-12 mt-4">
                        <form onsubmit="return submitComment()">
                            <input type="hidden" name="stock_id" id="edit_stock_id"
                                   value="{{ current_product.stock_id }}">
                            <input type="hidden" name="product_id" id="edit_product_id"
                                   value="{{ current_product.id }}">
                            <div class="form-group">
                                <h4>Để Lại Bình Luận</h4> <label for="message">Nội Dung</label>
                                <textarea id="content" name="content" msg cols="30" rows="5"
                                          class="form-control"></textarea>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Post Comment</button>
                            </div>
                        </form>
                    </div>
                {% else %}
                    <h3>Đăng Nhập Để Bình Luận !</h3>
                {% endif %}
            </div>
        </div>
    </section>
    <div class="col-8">
        <div aria-hidden="true" aria-labelledby="modal-form" class="modal fade" id="modal-form" role="dialog"
             tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-md" role="document">
                <div class="modal-content ">
                    <div class="modal-body p-0">
                        <div class="card bg-secondary shadow border-0">
                            <div class="card-header bg-transparent pb-5">
                                <div class="text-muted text-center mt-2 mb-3"><small>Chỉnh Sửa Bình Luận </small>
                                </div>
                            </div>
                            <div class="card-body px-lg-5 py-lg-5">
                                <form onsubmit="return submitComment()">
                                    <input type="hidden" name="edit_comment_id" id="edit_comment_id"
                                           value="{{ current_product.stock_id }}">

                                    <div class="form-group">
                                        <h4>Chỉnh Sửa Bình Luận</h4> <label for="message">Nội Dung</label>
                                        <textarea id="edit_content" name="edit_content" msg cols="30" rows="5"
                                                  class="form-control"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">Edit Comment</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function submitComment() {
            const content = $('#content').val()
            const stock_id = $('#stock_id').val()
            const product_id = $('#product_id').val()
            swal({
                title: "Are you sure?",
                text: "Kiểm Tra Thông Tin Trước khi gửi",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            }).then((willDelete) => {
                if (willDelete) {
                    var formData = new FormData();
                    formData.append('content', content)
                    formData.append('stock_id', stock_id)
                    formData.append('product_id', product_id)
                    $.ajax({
                        type: "POST",
                        url: "{{url_for('product.post_comment')}}",
                        data: formData,
                        contentType: false,
                        processData: false,
                        success: function (data) {
                            swal(data, {
                                icon: "warning",
                            }).then(
                                location.reload()
                            )
                        },
                        error: function (e) {
                            document.innerHTML = e.responseText
                        }
                    });
                    return false;
                }
            })
            return false
        }

        function deleteComment(obj) {
            const comment_id = obj.id
            swal({
                title: "Are you sure?",
                text: "Xác Nhận xóa bình luận",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            }).then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        type: "POST",
                        url: "/delete_comment/" + comment_id,
                        contentType: false,
                        processData: false,
                        success: function (data) {
                            swal(data, {
                                icon: "warning",
                            }).then(
                                location.reload()
                            )
                        },
                        error: function (e) {
                            document.innerHTML = e.responseText
                        }
                    });
                    return false;
                }
            })
            return false
        }

        function openModalEdit(id_comment, content) {
            $('#edit_comment_id').val(id_comment)
            $('#edit_content').val(content)
        }
    </script>
{% endblock body %}
